.contact_container{
    width:40vw;
    margin:2rem auto;
    position: relative;
}
.contact_container::after{
    content: "";
    display: block;
    height:30px;
    width:90%;
    left:5%;
    bottom:0;
    position: absolute;
    box-shadow:0 5px 15px 0 rgba(0,0,0,0.19);
    border-radius:100%;
    z-index:-1;
}
.contact_container article{
    padding:1rem;
    color:#f1f1f1;
    text-align: center;
}
.contact_container h1{
    font-size:1.75em;
    padding:0.6rem 0 0.6rem 0.4rem;
    color:#f1f1f1;
    position: relative;
    text-align: center;
    margin:auto;
}
.contact_button{
    text-align: center;
    display: block;
    width: 20%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 2px;
    cursor: pointer;
    margin:auto;
}
.contact_button,
.input_wrapper label,
.submit_wrapper input {
    backdrop-filter: blur(17px) saturate(173%);
    -webkit-backdrop-filter: blur(17px) saturate(173%);
    background: linear-gradient(to left, rgba(42, 44, 44, 0.5),rgba(115, 119, 119, 0.5));
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.contactbutton:hover {
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
}
.mail {
    margin:auto;
    margin-top: 9px;
    font-size: 15px;
    display: inline-block;
    border-top: 2em solid transparent;
    border-left: 2.6em solid #f1f1f1;
    height: 0;
    width: 0;
    position: relative;
}
.mail:before {
    content: '';
    top: -2.5em;
    left: -2.95em;
    display: block;
    position: absolute;
    border-top: 1.2em solid #f1f1f1;
    border-left: 1.6em solid transparent;
    border-right: 1.6em solid transparent;
    border-bottom: 1em solid transparent;
    font-size: 0.8em;
}
.mail::after {
    display: block;
    content: "";
    position: absolute;
    border-top: 2em solid transparent;
    border-right: 2.6em solid #f1f1f1;
    height: 0;
    width: 0;
    left: -2.18em;
    bottom: 0;
}

#check_contact{
    position:absolute;
    left:-9999px;
}
.contact_form{
    overflow: hidden;
    max-height: 0px;
    -webkit-transition: all linear 0.5s;
    -moz-transition: all linear 0.5s;
    -o-transition: all linear 0.5s;
    -ms-transition: all linear 0.5s;
    transition: all linear 0.5s;
}
#check_contact:checked + .contact_form {
    max-height: 1000px;
}
.input_wrapper {
    position: relative;
}
.textarea_wrapper textarea {
    margin-top: 20px;
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
}
.input_wrapper input[type="text"] {
    margin-top: 1em;
    display: block;
    width: 100%;
    background: transparent;
    border: 1px solid #DADADA;
    box-shadow: 0 0 1px 0 #E4E4E4;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: #5E5E5E;
    text-indent: 15%;
}
.input_wrapper input[type="text"]:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #DADADA;
    outline: none;
    text-indent: 0;
}
.input_wrapper label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius:0px;
    color: white;
    font-family: Oswald ,sans-serif;
    box-sizing: border-box;
    width: 15%;
    text-align: center;
    line-height: 2.8em;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
}
.input_wrapper input[type="text"]:focus + label {
    left: 85%;
}
.textarea_wrapper textarea:focus {
    background: rgba(242, 56, 90, 0.05);
    box-shadow: inset 2px 2px 5px 0 #DADADA;
    outline: none;
}
.submit_wrapper {
    text-align: center;
}
.submit_wrapper input {
    text-align: center;
    display: inline-block;
    width: 40%;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 6px;
    cursor: pointer;
    color: white;
    font-family: Oswald ,sans-serif;
    font-size: 1em;
    border: none;
    -webkit-box-shadow: 1px 1px 0 0 rgba(115, 119, 119, 0.5),2px 2px 0 0 rgba(115, 119, 119, 0.5),3px 3px 0 0 rgba(115, 119, 119, 0.5);
    box-shadow: 1px 1px 0 0 rgba(115, 119, 119, 0.5),2px 2px 0 0 rgba(115, 119, 119, 0.5),3px 3px 0 0 rgba(115, 119, 119, 0.5);
    -webkit-appearance: none;
      -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    }
    .submit_wrapper input:hover {
    -webkit-box-shadow: 1px 1px 0 0 rgba(42, 44, 44, 0.5),0px 0px 0 0 rgba(42, 44, 44, 0.5),0px 0px 0 0 rgba(42, 44, 44, 0.5);
    box-shadow: 1px 1px 0 0 rgba(42, 44, 44, 0.5),0px 0px 0 0 rgba(42, 44, 44, 0.5),0px 0px 0 0 rgba(42, 44, 44, 0.5);
    margin-top: 22px;
    margin-left: 2px;
    margin-bottom: 0px;
}
.popup_window{
    position:fixed;
    background-color: #00D84A;
    width:230px;
    height:40px;
    top:5%;
    right:-100%;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 1s;
}
#show_popup{
    right:0.5%;
}    
@media (max-width: 950px){
    .contact_container {
        width: 95%;
    }
    .input_wrapper label {
        line-height: 3.5em;
        font-size: 0.8em;
        width:25%;
    }
    .input_wrapper input[type="text"]:focus + label {
        left: 75%;
    }
    .contact_button{
        width:40%;
    }
    
}